<% if @recipe.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
  <ul>
    <% @recipe.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for(@recipe) do |f| %>
<div class="container">
  <div class="actions">
      <%= f.label "Upload billede af retten" %>
      <%= f.file_field :recipe_image %>
      <br>

      

      <div class="field">
      <%= f.label :title %> <br>
      <%= f.text_field :title %>
      </div>

      <div class="field">
      <%= f.label "Beskrivelse" %> <br>
      <%= f.text_field :description%>
      </div>

      <div class="field">
      <%= f.label "Ingredienser" %> <br>
      <%= f.text_field :ingredients%>
      </div>

      <div class="field">
      <%= f.label :instructions, "Fremgangsmåde" %> <br>
      <%= f.text_field :instructions%>
      </div>


    <br>
    <%= f.submit class: 'btn btn-success' %>
  </div>
</div>
<% end %>
