

<h1><%= link_to 'Opskrifter >', recipes_path  %> <%= @recipe.title %></h1>

  <%= lightbox(@recipe) %>

<br>

<h3>Beskrivelse</h3>
  <p><%= @recipe.description %></p>
<br>
<h3>Ingredienser</h3>
  <p><%= @recipe.ingredients %></p>
<br>
<h3>Fremgangsmåde</h3>
  <p><%= @recipe.instructions %></p>


<%= button_to 'Edit', edit_recipe_path(@recipe), :method => :get, class: "btn btn-warning" %>

